<a href="https://colab.research.google.com/github/GRiguetto/PythonDataScience/blob/main/Python%20DataScience/Pratica/Python/rev_python_25n3%20(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

In [ ]:
#25/09/2025
#revisão da linguagem python para análise de dados

#crie 3 varieave para que voce se apresente
#atribua valores na variaveis e os exiba na tela
#me chamo 'fulano, sou'função' e moro em 'cidade'

nome = "matheus"
profissão = "motorista reprovado"
cidade = "Rio Preto"

print ("Me chamo" , nome , "sou" , profissão, "e moro em" ,cidade)
#uso do format
print(f"Me chamo {nome} sou {profissão} e moro em {cidade}")

In [ ]:
## crie um programa que receba a idade de uma pessoa emostre em tela se ela é maio ou menor de idade
idade = int

idade = int(input("Qual a sua idade?"))

if idade >= 18 :
    print(f"sua idade é {idade} voce é maior de idade")
else:
    print(f"sua idade é {idade} voce é menor de idade")

Qual a sua idade?12
sua idade é 12 voce é menor de idade

In [ ]:
#crie um programa que receba dosi nome e duas alturas.
#mostre em tela a mais alta ou se possuem a mesma altura

nome1 = input("Digite o nome da 1º pessoa")
altura1 = float(input(f"digite a altura do(a) {nome1}"))

nome2 = input("Digite o nome da 2º pessoa")
altura2 = float(input(f"digite a altura do(a) {nome2}"))

if altura1 > altura2 :
    print(f"{nome1} é mais alta que {nome2}")
elif altura2 > altura1:
    print(f"{nome2} é mais alta que {nome1}")
else:
    print(f"{nome1} e {nome2} tem a mesma altura {altura1}")

Digite o nome da 1º pessoajoao
digite a altura do(a) joao1.70
Digite o nome da 2º pessoalarissa
digite a altura do(a) larissa1.70
joao e larissa tem a mesma altura 1.7

In [ ]:
#crie u programa que receba o salario e a idade de uma pessoa
# se a idade for maior ou igual a 50 e o salario menor que 3500 reajuste o salario em 7.5%
#senão reajuste em 5%
#mostre o salario reajustado e a diferença bruta de reajuste


idade = int (input("qual a sua idade"))
salario = float( input("qual o seu salario atual"))
#
if idade >= 50 and salario < 3500 :
    tx = 7.5
    salarioReajustado = salario * 1.075
else :
    tx = 5
    salarioReajustado = salario * 1.05
#
print(f"Novo salário: R${salarioReajustado} | Taxa de {tx}")
print(f"Diferença bruta : R${salarioReajustado - salario}")

qual a sua idade10
qual o seu salario atual100
Novo salário: R$105.0 | Taxa de 5
Diferença bruta : R$5.0

In [ ]:
#crie um programa que verifica se uma pessoa pode ou não doar sangue.
#sera digitada a idade e o peso da pessoa
#regra: somente pessoas com idade entre 16 e 69 anos e peso a partir de 50g
#podem doar

idade = int (input("qual a sua idade? "))
peso = float (input("qual seu peso? "))
#
if (idade < 16 or idade > 69 or peso <= 50) :
    print("voce não pode doar sangue")
else :
    print ("voce pode doar sangue")

qual a sua idade16
qual seu peso60
voce pode doar sangue

In [ ]:
#1 - crie um algoritimo que identifique se um numero é impar ou par

numero = int(input("digite um numero para saber se é par ou impar"))

if numero % 2:
    print("numero impar")
else:
    print("numero par")

digite um numero para saber se é par ou impar1
numero impar

In [ ]:
# 2- crie um programa que receba a idade e o sakario de uma pessoa
#se a idade for maior ou igual a 50 e salario menor que 3.500,
#reajuste o salario em 7.5%
#se a idade for maior ou igual a 50 e salario maior ou igual a 3500
#reajuste de 5%
#senao reajuste em 3.5%

idade = int(input("digite sua idade: "))
salario = float (input("Digite seu salário: "))
if idade >= 50 and salario < 3500:
    tx = 7.5
elif idade > 50 and salario >= 3500:
    tx = 5.0
else:
    tx = 3.5

novo_salario = salario * (1+(tx/100))
bruto = novo_salario - salario
print(f"Seu salario foi ajustado em {tx}%: R${round(novo_salario , 2)}")
print(f"Diferença bruta: R${round(bruto,2)}")

digite sua idade: 19
Digite seu salário: 1000
Seu salario foi ajustado em 3.5%: R$1035.0
Diferença bruta: R$35.0

In [ ]:
#29/09/2025
#revisao: estruturas de repetição em python

# estrutura 'while'

cont = 1# variavel contadora
while cont <= 10  :
    print(f"lucimar Show de bola")
    # incrementando contador
    cont = cont +1

1 lucimar Show de bola
2 lucimar Show de bola
3 lucimar Show de bola
4 lucimar Show de bola
5 lucimar Show de bola
6 lucimar Show de bola
7 lucimar Show de bola
8 lucimar Show de bola
9 lucimar Show de bola
10 lucimar Show de bola

In [ ]:
#faça o mesmo codigo acima mais mostrando o numero da repetição

cont = 1# variavel contadora
while cont <= 10  :
    print(f"repetição {cont} lucimar Show de bola")
    # incrementando contador
    cont = cont +1

repetição 1 lucimar Show de bola
repetição 2 lucimar Show de bola
repetição 3 lucimar Show de bola
repetição 4 lucimar Show de bola
repetição 5 lucimar Show de bola
repetição 6 lucimar Show de bola
repetição 7 lucimar Show de bola
repetição 8 lucimar Show de bola
repetição 9 lucimar Show de bola
repetição 10 lucimar Show de bola

In [ ]:
# crie um programa que rece um nume e calcule a sua taboada
cont = 0
num = int (input("Digite um numero para saber a taboada dele"))
while cont <= 10 :
    print(f"{num} X {cont} = {num * cont}")
    cont += 1
print("\nFim de programa!")

Digite um numero para saber a taboada dele2

2 X 0 = 0

2 X 1 = 2

2 X 2 = 4

2 X 3 = 6

2 X 4 = 8

2 X 5 = 10

2 X 6 = 12

2 X 7 = 14

2 X 8 = 16

2 X 9 = 18

2 X 10 = 20

Fim de programa!

In [ ]:
#crie um progra que receba uma frase e quantas vezes o ussaurio gostaria de repetiala

cont = 1
frase = (input("Digite a frase que voce quer repetir"))
rep = int(input("digite a quantidade de vezes que voce quer repetir a frase"))

while cont <= rep :
    print(f"{cont} : {frase}")
    cont += 1

print("fim do programa")

Digite a frase que voce quer repetirlucimar show de bola
digite a quantidade de vezes que voce quer repetir a frase10
1 : lucimar show de bola
2 : lucimar show de bola
3 : lucimar show de bola
4 : lucimar show de bola
5 : lucimar show de bola
6 : lucimar show de bola
7 : lucimar show de bola
8 : lucimar show de bola
9 : lucimar show de bola
10 : lucimar show de bola
fim do programa

In [ ]:
#usando contagem regresiva

frase = (input("Digite a frase que voce quer repetir"))
rep = int(input("digite a quantidade de vezes que voce quer repetir a frase"))

while cont > 0 :
    print(f"{frase}")
    cont = cont - 1

print("fim do programa")

Digite a frase que voce quer repetirola
digite a quantidade de vezes que voce quer repetir a frase10
ola
ola
ola
ola
ola
ola
ola
ola
ola
ola
ola
fim do programa

In [ ]:
#crie um programa que receba um valor numerico
#o programa deve imprimir sia sequencia.. do 1 ao valor do numero
#porem somente os valres impares deverao ser impresso

num = int (input("digite um umero para descobrir a sequencia de impares"))
cont = 0

while cont <= num :
    if cont % 2 :
        print(cont, end=" ")
    cont += 1

digite um umero para descobrir a sequencia de impares20
1 3 5 7 9 11 13 15 17 19

In [ ]:
#estrutura de repetição for
#crie um programa que exiba 100 numeros em tela, use o comando for

for numero in range (1, 101) :
    print (numero, end = " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [ ]:
#crie um programa que receba um nome e subistitua suas vogais pelo oque segue
# a - @
# e - 3
# i - 1
# o - 0
# u - v

nome = input("Digite uma nome: ")
#strip() --> remove espaços em brancos a esqquerda e a direita
#lower() --> Deixa todas as letras minusculas
nome = nome.strip().lower()
nome = nome.replace("a","@").replace("e","3").replace("i","1")\
    .replace("o", "0").replace("u","v")
for letra in nome :
    print(f"{letra.upper()}", end=" ")

Digite uma nome: matheus bumbum
M @ T H 3 V S   B V M B V M

In [ ]:
#mostre na tela numeros sequencias do 1 ao 500 no entanto somente de 5 em 5

for numero in range (0, 501, 5):
    if  numero == 0:
        continue #comando contiune enterrme o lupe e o retorna para o inicio
    print (numero , end = " ")

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 105 110 115 120 125 130 135 140 145 150 155 160 165 170 175 180 185 190 195 200 205 210 215 220 225 230 235 240 245 250 255 260 265 270 275 280 285 290 295 300 305 310 315 320 325 330 335 340 345 350 355 360 365 370 375 380 385 390 395 400 405 410 415 420 425 430 435 440 445 450 455 460 465 470 475 480 485 490 495 500

In [ ]:
#foguete

from time import sleep
cont = 10
foguete= input("qual o nome do seu foguete: ")
while cont > 0 :
    print(cont)
    sleep(1)
    cont -= 1
print(f"lancamento do foguete {foguete} iniciado")

qual o nome do seu foguete: qqqqqqqqqqq
10
9
8
7
6
5
4
3
2
1
lancamento do foguete qqqqqqqqqqq iniciado

In [ ]:
for numero in range (1000,0,-1):
    print (numero, end=" " )

1000 999 998 997 996 995 994 993 992 991 990 989 988 987 986 985 984 983 982 981 980 979 978 977 976 975 974 973 972 971 970 969 968 967 966 965 964 963 962 961 960 959 958 957 956 955 954 953 952 951 950 949 948 947 946 945 944 943 942 941 940 939 938 937 936 935 934 933 932 931 930 929 928 927 926 925 924 923 922 921 920 919 918 917 916 915 914 913 912 911 910 909 908 907 906 905 904 903 902 901 900 899 898 897 896 895 894 893 892 891 890 889 888 887 886 885 884 883 882 881 880 879 878 877 876 875 874 873 872 871 870 869 868 867 866 865 864 863 862 861 860 859 858 857 856 855 854 853 852 851 850 849 848 847 846 845 844 843 842 841 840 839 838 837 836 835 834 833 832 831 830 829 828 827 826 825 824 823 822 821 820 819 818 817 816 815 814 813 812 811 810 809 808 807 806 805 804 803 802 801 800 799 798 797 796 795 794 793 792 791 790 789 788 787 786 785 784 783 782 781 780 779 778 777 776 775 774 773 772 771 770 769 768 767 766 765 764 763 762 761 760 759 758 757 756 755 754 753 752 751 750 749 748 747 746 745 744 743 742 741 740 739 738 737 736 735 734 733 732 731 730 729 728 727 726 725 724 723 722 721 720 719 718 717 716 715 714 713 712 711 710 709 708 707 706 705 704 703 702 701 700 699 698 697 696 695 694 693 692 691 690 689 688 687 686 685 684 683 682 681 680 679 678 677 676 675 674 673 672 671 670 669 668 667 666 665 664 663 662 661 660 659 658 657 656 655 654 653 652 651 650 649 648 647 646 645 644 643 642 641 640 639 638 637 636 635 634 633 632 631 630 629 628 627 626 625 624 623 622 621 620 619 618 617 616 615 614 613 612 611 610 609 608 607 606 605 604 603 602 601 600 599 598 597 596 595 594 593 592 591 590 589 588 587 586 585 584 583 582 581 580 579 578 577 576 575 574 573 572 571 570 569 568 567 566 565 564 563 562 561 560 559 558 557 556 555 554 553 552 551 550 549 548 547 546 545 544 543 542 541 540 539 538 537 536 535 534 533 532 531 530 529 528 527 526 525 524 523 522 521 520 519 518 517 516 515 514 513 512 511 510 509 508 507 506 505 504 503 502 501 500 499 498 497 496 495 494 493 492 491 490 489 488 487 486 485 484 483 482 481 480 479 478 477 476 475 474 473 472 471 470 469 468 467 466 465 464 463 462 461 460 459 458 457 456 455 454 453 452 451 450 449 448 447 446 445 444 443 442 441 440 439 438 437 436 435 434 433 432 431 430 429 428 427 426 425 424 423 422 421 420 419 418 417 416 415 414 413 412 411 410 409 408 407 406 405 404 403 402 401 400 399 398 397 396 395 394 393 392 391 390 389 388 387 386 385 384 383 382 381 380 379 378 377 376 375 374 373 372 371 370 369 368 367 366 365 364 363 362 361 360 359 358 357 356 355 354 353 352 351 350 349 348 347 346 345 344 343 342 341 340 339 338 337 336 335 334 333 332 331 330 329 328 327 326 325 324 323 322 321 320 319 318 317 316 315 314 313 312 311 310 309 308 307 306 305 304 303 302 301 300 299 298 297 296 295 294 293 292 291 290 289 288 287 286 285 284 283 282 281 280 279 278 277 276 275 274 273 272 271 270 269 268 267 266 265 264 263 262 261 260 259 258 257 256 255 254 253 252 251 250 249 248 247 246 245 244 243 242 241 240 239 238 237 236 235 234 233 232 231 230 229 228 227 226 225 224 223 222 221 220 219 218 217 216 215 214 213 212 211 210 209 208 207 206 205 204 203 202 201 200 199 198 197 196 195 194 193 192 191 190 189 188 187 186 185 184 183 182 181 180 179 178 177 176 175 174 173 172 171 170 169 168 167 166 165 164 163 162 161 160 159 158 157 156 155 154 153 152 151 150 149 148 147 146 145 144 143 142 141 140 139 138 137 136 135 134 133 132 131 130 129 128 127 126 125 124 123 122 121 120 119 118 117 116 115 114 113 112 111 110 109 108 107 106 105 104 103 102 101 100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [ ]:
#30/09/2025 --> LISTAS , TUPLAS , MATRIZ, DICIONARIOS
#listas
carros = [ "ka" , "civic" , "marea" , "kwid" , "civic" , "corolla" , "corsa"]
print(carros)

['ka', 'civic', 'marea', 'kwid', 'civic', 'corolla', 'corsa']

In [ ]:
print(len(carros))

7

In [ ]:
for carro in carros :
    print (carro.capitalize())

Ka
Civic
Marea
Kwid
Civic
Corolla
Corsa

In [ ]:
#criação de uma matriz
carros = [
    ["mobi", "fiat", 2000, 70000],
    ["corolla", "toyota", 2024, 160000],
    ["911", "porsche", 2024 , 1000000],
    ["kwid", "renault", 2020 , 57000]
]
print(carros)

[['mobi', 'fiat', 2000, 70000], ['corolla', 'toyota', 2024, 160000], ['911', 'porsche', 2024, 1000000], ['kwid', 'renault', 2020, 57000]]

In [ ]:
print(f"Quantidade de carros na lista: {len(carros)}")

Quantidade de carros na lista: 4

In [ ]:
#imprimindo valores na lista (matriz)
for e in carros:
    print (f"Modelo: {e[0].capitalize():8} | Marca: {e[1].capitalize():8} | Ano: {e[2]} | Preço: R${e[3]:,.2f}")

Modelo: Mobi     | Marca: Fiat     | Ano: 2000 | Preço: R$70,000.00
Modelo: Corolla  | Marca: Toyota   | Ano: 2024 | Preço: R$160,000.00
Modelo: 911      | Marca: Porsche  | Ano: 2024 | Preço: R$1,000,000.00
Modelo: Kwid     | Marca: Renault  | Ano: 2020 | Preço: R$57,000.00

In [ ]:
#crie um programa em python que faça o cadartro de itens em estoque
#o nome deve cadastrar: nome do produto, preço unitario e quantidade
#o cadatro sera iddefinido e sera encerrado qaundo o usuario digitar 'sair'
#ao final mostre em tela um relatorio com todos itens de estoque e taambem
#o valor total de cada um deles e o valor total do estoque

estoque = []#criando lista vazia

print(f"\n*** MÓDULO DE ESTOQUE ***\n")
while True : #loop infinito
    nome = input("\nDigite o nome do produto:")
    nome = nome.strip().upper()
    if nome == "SAIR" :
        break #comando break intenrrompe um loop
    else :
        preco = float(input(f"Digite o preço do {nome}: "))
        qtd = int(input(f"Digite a quantidade do {nome}: "))
        #apos receber informaçoes faremos a inclusão do elemento na lista
        estoque.append([nome, preco, qtd])
#fimdo loop
if estoque :
    print("\n** RELAÇOES DE ITENS EM ESTOQUE **")
    total = 0 #variavel acumuladora para somar o total do estoque
    for e in estoque :
        print(f"{e[0]:15} | Preço: R${e[1]:15,.2f} | Quantidade:  {e[2]:,.2f} | {e[1] * e[2]:,.2f}")
        total = total + e[1] * e[2]
    #fim do loop for
    print(f"\ntotal em estoque: R$ {total:,.2f}")
else:
    print("nenhum produto cadastrado")

*** MÓDULO DE ESTOQUE ***


Digite o nome do produto:sair
nenhum produto cadastrado

In [ ]:
#criando um dicionario manualmente

carros = {
    "kwid" : ["reault", 2024 , 72000],
    "civic" : ["honda", 2020, 125000],
    "renegade" : ["jeep", 2022, 85000],
    "corolla" : ["toyota", 2025, 165000]
}
carros

{'kwid': ['reault', 2024, 72000],
 'civic': ['honda', 2020, 125000],
 'renegade': ['jeep', 2022, 85000],
 'corolla': ['toyota', 2025, 165000]}

In [ ]:
carros["kwid"]

['reault', 2024, 72000]

In [ ]:
carros["civic"]

['honda', 2020, 125000]

In [ ]:
chaves=(carros.keys())

In [ ]:
chaves

dict_keys(['kwid', 'civic', 'renegade', 'corolla'])

In [ ]:
valores = list(carros.values())

valores

[['reault', 2024, 72000],
 ['honda', 2020, 125000],
 ['jeep', 2022, 85000],
 ['toyota', 2025, 165000]]

In [ ]:
#01/10/25
#refaça a atividade do cadastro de estoque porém usando um dicionario de dados

estoque = {}#criando dicionario vazio
print(f"\n*** MÓDULO DE ESTOQUE ***\n")
while True : #loop infinito
    nome = input("\nDigite o nome do produto:")
    nome = nome.strip().upper()
    if nome == "SAIR" :
        break #comando break intenrrompe um loop
    else :
        preco = float(input(f"Digite o preço do {nome}: "))
        qtd = int(input(f"Digite a quantidade do {nome}: "))
        #apos receber informaçoes faremos a inclusão do elemento na dicionario
        estoque [nome] = [preco, qtd]
        #estoque.update({nome:[preco, qtd]})
#fimdo loop
if estoque :
    print("\n** RELAÇOES DE ITENS EM ESTOQUE **")
    total = 0 #variavel acumuladora para somar o total do estoque
    for c,v in estoque.items():
        print(f"{c:15} | Preço: R${v[0]:15,.2f} | Quantidade:  {v[1]:,.2f} | {v[0] * v[1]:,.2f}")
        total = total + v[0] * v[1]
    #fim do loop for
    print(f"\ntotal em estoque: R$ {total:,.2f}")
else:
    print("nenhum produto cadastrado")

*** MÓDULO DE ESTOQUE ***


Digite o nome do produto:sair
nenhum produto cadastrado

In [ ]:
#dado o dicionario abaixo, exiba as seguintes informaçoes


funcionarios = {
    "alex": ["analista","ti",7500],
    "bruna": ["analista", "rh" , 4800],
    "pedro": ["coordenador", "projetos", 15000],
    "joao":["assistente" , "projeto", 3100]
}

In [ ]:
#a) exiba o salario da bruna da seguinte forma
#bruna tem um salario de R$7,500.00
nomes = list(funcionarios.keys())
f = nomes[1]
v = funcionarios["bruna"]
print(f"{f} tem um salario de R${v[2]:,.2f}")

#correção professor
print(f"{nomes[1].capitalize()} tem o salario de R${funcionarios[nomes[1]][2]:,.2f}")

bruna tem um salario de R$4,800.00
Bruna tem o salario de R$4,800.00

In [ ]:
#b) exiba o cardo do joão da seguinte forma
#joão é assitente na empresa
nomes = list(funcionarios.keys())
f = nomes[3]
v = funcionarios["joao"]
print(f"{f} é {v[0]} na empresa")

#correção do professor
print(f"{nomes[-1].capitalize()} é {funcionarios[nomes[-1]][0]} na empresa")

joao é assistente na empresa
Joao é assistente na empresa

In [ ]:
#c) exiba a diferença entre o salario do pedro e do alex
#mostre da seguinte forma
#a diferença de salario entre Pedro e Alex é de R$ XXXX
nomes = list(funcionarios.keys())
nome1 = nomes[0]
nome2 = nomes[2]
funcionario1 = funcionarios["pedro"]
funcionario2 = funcionarios["alex"]

print(f"a diferença de salario entre {nome1} e {nome2} é de R${funcionario1[2] - funcionario2[2]}")

#correção do professor
print(f"A diferença de salario entre {nomes[-2].capitalize()} e {nomes[0].capitalize()} é de R${funcionarios[nomes[2]][2] - funcionarios[nomes[0]][2]:,.2f}")

a diferença de salario entre alex e pedro é de R$7500
A diferença de salario entre Pedro e Alex é de R$7,500.00

In [ ]:
#função em python

#crie uma função que exiba na tela 3 vezes a frase:"boa noite senai!"

def boa_noite():
    for i in range(3):
        print ("Boa Noite SENAI!")

In [ ]:
#invocando a função
boa_noite()
print("================")
boa_noite()

Boa Noite SENAI!
Boa Noite SENAI!
Boa Noite SENAI!
================
Boa Noite SENAI!
Boa Noite SENAI!
Boa Noite SENAI!

In [ ]:
#crie uma função que receba um frase e a quantidade de vezes que a frase sera repetida

def dizer_frase(frase,qtd=1):
    for i in range(qtd):
        print (frase)

In [ ]:
frase = input("Digite uma frase para ser repetida ")
qtd = int(input("quantas vezes voce quer que se repita "))
dizer_frase(frase, qtd)

Digite uma frase para ser repetidaoi
quantas vezes voce quer que se repita1
oi

In [ ]:
#crie uma função que receba dois valores numericos e vrerifique se são multiplos
#a função seve imprimira a informação em tela e também retorna um valor booleano

def verificar_multiplo(n1,n2):
    if n2>n1:
        n1,n2 = n2,n1 #swap de variaves
    if n1 % n2 == 0:
        print (f"{n1} é multiplo de {n2}!")
        return True
    else :
        print (f"{n1} não é multiplo de {n2}!")
        return False

In [ ]:
verificar_multiplo(10,100)
verificar_multiplo(2,5)
verificar_multiplo(1000,100)

100 é multiplo de 10!
5 não é multiplo de 2!
1000 é multiplo de 100!

True

In [2]:
#crie um função que receba 3 valores numericos e mostre uma media desses valores
def media_de_tres(n1,n2,n3):
    resultado = (n1+n2+n3)/3
    return resultado

def media_2 (lista):
    media = sum(lista)/len(lista)
    print(f"média: {media:,.2f}")

In [3]:
print("Calcule a media de 3 numeros\n")

n1 = int(input("n1 : "))
n2 = int(input("n2 : "))
n3 = int(input("n3 : "))

print(f"Resultado = {media_de_tres(n1,n2,n3)}")

Calcule a media de 3 numeros

n1 : 15
n2 : 26
n3 : 78
Resultado = 39.666666666666664

Calcule a media de uma lista

Exemplo: [n1,n2,n3]

Lista[10,10,10]

NameError: name 'media_2' is not defined